<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BankOfCBE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GlobalController</servlet-name>
		<servlet-class>controller.GlobalController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GlobalController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>APIController</servlet-name>
		<servlet-class>controller.APIController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APIController</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/SessionFilter</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FormValidation</filter-name>
		<filter-class>filter.FormValidation</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FormValidation</filter-name>
		<url-pattern>/SessionFilter</url-pattern>
	</filter-mapping>
</web-app>